<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- 
  The web.xml file provides basic information to the web container on 
  how to load your servlets into the container and which requests should
  be routed to each servlet.
 -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Video Application</display-name>
    <description>
        This is an application that will extract parameters and validate them.
        It allows clients to send the metadata for Videos.
    </description>

    <!-- This set of directives tells the web application container about
         our servlet class so that it is loaded by the container -->
    <servlet>
        <servlet-name>VideoServlet</servlet-name>
        <servlet-class>org.magnum.mobilecloud.video.servlet.VideoServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>HtmlVideoServlet</servlet-name>
        <servlet-class>org.magnum.mobilecloud.video.servlet.HtmlVideoServlet</servlet-class>
    </servlet>

    <!-- this set of directives tells the web application container which
         requests should be routed to our servlet. In this case, any request
         to the path '/video' will be routed to the servlet. You can use wildcards
         for path matching. For example, '/video/**' would match any sub path of
         '/video/', such as '/video/foo' and '/video/bar' -->
    <servlet-mapping>
        <servlet-name>VideoServlet</servlet-name>
        <url-pattern>/video</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>HtmlVideoServlet</servlet-name>
        <url-pattern>/view/video</url-pattern>
    </servlet-mapping>
</web-app>    